/* Helper Elements */
form {
    display: flex;
    margin-left: 100px;

}

body {
    background-image: linear-gradient(to bottom, #4031e5, #3146e4, #2a56e0, #2f63db, #3c6ed3, #4e76d1, #5d7dd0, #6b85ce, #7b8cd3, #8a94d9, #989cde, #a6a4e3);
}

button {
    margin-left: 30px;

}

.column {
    width:auto;
    align-self: center;

}

hr {
    margin: auto;
    margin-bottom: 30px;
}

li {
    list-style-type: none;
    
}

footer {
    color: white;
    background:rgba(255, 255, 255, 0);

}

#search-align {
    text-align: center;

}

#search-list a {
    text-decoration: none;

}

/* Navigation Bar Stylings */
.navbar-brand {
    color: white;
}

/* Main Hero Section Stylings */
.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background:rgba(255, 255, 255, 0);
    border-radius: 0.3rem;
}

/* Current Day Weather Stylings */
.today-img {
    width: 250px;
    height: auto;
}

#current-weather {
    background:rgba(255, 255, 255, 0);

}

#current-weather, .today-temp, .today-wind, .today-hum {
    width: auto;
    color: white;
    font-weight: bold;

}

#current-city {
    color: white;
    font-weight: bolder;
    font-size: 30px;
    background:rgba(255, 255, 255, 0);

}

/* 5 Day Forecast Card Container Stylings */
.card {
    margin: 0 0 20px 0;
    border: 3px solid var(--dark);
    border-radius: var(--border-radius);
    background-color: var(--bs-card-cap-bg);
    border-bottom: var(--bs-card-border-width) solid var(--bs-card-border-color);
}
  
.card-header {
    color: white;
    background-color: var(--dark);
    padding: 2.5%;
    border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
}
  
.card-body {
    padding: 2.5%;
    color: white;
    
}

.card-img0, .card-img1, .card-img2, .card-img3, .card-img4{
    width: auto;
    height: 100px;
}

/* Button Stylings */
button .btn {
    background-color: silver;
    border: var(--bs-btn-border-width) solid #000000;
}

.btn-outline-success {
    --bs-btn-color: #03C988;
    --bs-btn-border-color: #03C988;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #03C988;
    --bs-btn-hover-border-color: #03C988;
    --bs-btn-focus-shadow-rgb: 25,135,84;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #03C988;
    --bs-btn-active-border-color: #03C988;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #03C988;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #03C988;
    --bs-gradient: none;
}